{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}
<h3>{{=message}}</h3>
{{pass}}
<h4>{{=T('Que puedo hacer aqui?')}}</h4>
<ol>
  <li>{{=T('Usted puede administrar comodamente su negocio')}}</li>
  <li>Algunas de las tareas que puede realizar son</li>
  <ul>
    <li>Compras</li>
    <li>Ventas</li>
    <li>Control de stock</li>
  </ul>
  <li>Por favor sientase libre de experimentar</li>
</ol>

<a class="btn btn-primary btn-large" href="{{=URL('operaciones','vender')}}">Vender</a>

<a class="btn btn-primary btn-large" href="{{=URL('operaciones','cargar')}}">Cargar stock</a>

